{% extends 'base.html.twig' %}

{% block title %}Departamentos index{% endblock %}

{% block body %}
    <h1>Departamentos index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CodDepartamento</th>
                <th>DescDepartamento</th>
                <th>VolumenNegocio</th>
                <th>FechaCreacion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for departamento in departamentos %}
            <tr>
                <td>{{ departamento.id }}</td>
                <td>{{ departamento.codDepartamento }}</td>
                <td>{{ departamento.descDepartamento }}</td>
                <td>{{ departamento.volumenNegocio }}</td>
                <td>{{ departamento.fechaCreacion ? departamento.fechaCreacion|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('departamentos_show', {'id': departamento.id}) }}">show</a>
                    <a href="{{ path('departamentos_edit', {'id': departamento.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('departamentos_new') }}">Create new</a>
{% endblock %}
